*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}

nav{
    background-color: #333;
    color: #f20c0c;
    padding: 1rem 0;
}

nav a{
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
}

section{
    padding: 1rem;
    background-color: red;
}